:root {
  --wwwapplecomnero: rgba(255, 255, 255, 1);
  --wwwapplecomwhite-lilac: rgba(251, 251, 253, 1);
  --wwwapplecomshark: rgba(29, 29, 31, 1);
  --wwwapplecomscience-blue: rgba(0, 102, 204, 1);
  --wwwapplecomblack: rgba(0, 0, 0, 1);
  --wwwapplecomathens-gray: rgba(245, 245, 247, 1);
  --wwwapplecomjapanese-laurel: rgba(41, 151, 255, 1);
  --wwwapplecomblack-80: rgba(0, 0, 0, 0.8);
  --wwwapplecomblack-42: rgba(0, 0, 0, 0.42);
  --wwwapplecomcod-gray: rgba(29, 29, 29, 1);
  --wwwapplecomblack-16: rgba(0, 0, 0, 0.16);
  --wwwapplecomblack-56: rgba(0, 0, 0, 0.56);
  --wwwapplecomblack-72: rgba(0, 0, 0, 0.72);
  --wwwapplecomblack-88: rgba(0, 0, 0, 0.88);
  --wwwapplecomblack-48: rgba(0, 0, 0, 0.48);
  --wwwapplecomwoodsmoke-80: rgba(22, 22, 23, 0.8);
  --wwwapplecomnero-80: rgba(255, 255, 255, 0.8);
  --www-apple-com-helvetica-neue-bold-51-73-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-bold-51-73-font-weight: 700;
  --www-apple-com-helvetica-neue-bold-51-73-font-size: 51.734375px;
  --www-apple-com-helvetica-neue-bold-51-73-letter-spacing: -0.2800000011920929px;
  --www-apple-com-helvetica-neue-bold-51-73-line-height: 60px;
  --www-apple-com-helvetica-neue-bold-51-73-font-style: normal;
  --www-apple-com-helvetica-neue-regular-25-7-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-regular-25-7-font-weight: 400;
  --www-apple-com-helvetica-neue-regular-25-7-font-size: 25.703125px;
  --www-apple-com-helvetica-neue-regular-25-7-letter-spacing: 0.1120000034570694px;
  --www-apple-com-helvetica-neue-regular-25-7-line-height: 31px;
  --www-apple-com-helvetica-neue-regular-25-7-font-style: normal;
  --www-apple-com-helvetica-neue-regular-19-36-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-regular-19-36-font-weight: 400;
  --www-apple-com-helvetica-neue-regular-19-36-font-size: 19.359375px;
  --www-apple-com-helvetica-neue-regular-19-36-letter-spacing: 0.23100000619888306px;
  --www-apple-com-helvetica-neue-regular-19-36-line-height: 29px;
  --www-apple-com-helvetica-neue-regular-19-36-font-style: normal;
  --www-apple-com-helvetica-neue-regular-19-69-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-regular-19-69-font-weight: 400;
  --www-apple-com-helvetica-neue-regular-19-69-font-size: 19.6875px;
  --www-apple-com-helvetica-neue-regular-19-69-letter-spacing: 0.23100000619888306px;
  --www-apple-com-helvetica-neue-regular-19-69-line-height: 29px;
  --www-apple-com-helvetica-neue-regular-19-69-font-style: normal;
  --www-apple-com-helvetica-neue-bold-50-86-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-bold-50-86-font-weight: 700;
  --www-apple-com-helvetica-neue-bold-50-86-font-size: 50.859375px;
  --www-apple-com-helvetica-neue-bold-50-86-letter-spacing: -0.2800000011920929px;
  --www-apple-com-helvetica-neue-bold-50-86-line-height: 60px;
  --www-apple-com-helvetica-neue-bold-50-86-font-style: normal;
  --www-apple-com-helvetica-neue-regular-24-94-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-regular-24-94-font-weight: 400;
  --www-apple-com-helvetica-neue-regular-24-94-font-size: 24.9375px;
  --www-apple-com-helvetica-neue-regular-24-94-letter-spacing: 0.1120000034570694px;
  --www-apple-com-helvetica-neue-regular-24-94-line-height: 31px;
  --www-apple-com-helvetica-neue-regular-24-94-font-style: normal;
  --www-apple-com-helvetica-neue-regular-25-59-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-regular-25-59-font-weight: 400;
  --www-apple-com-helvetica-neue-regular-25-59-font-size: 25.59375px;
  --www-apple-com-helvetica-neue-regular-25-59-letter-spacing: 0.1120000034570694px;
  --www-apple-com-helvetica-neue-regular-25-59-line-height: 31px;
  --www-apple-com-helvetica-neue-regular-25-59-font-style: normal;
  --www-apple-com-helvetica-neue-regular-17-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-regular-17-font-weight: 400;
  --www-apple-com-helvetica-neue-regular-17-font-size: 17px;
  --www-apple-com-helvetica-neue-regular-17-letter-spacing: -0.37400001287460327px;
  --www-apple-com-helvetica-neue-regular-17-line-height: 21px;
  --www-apple-com-helvetica-neue-regular-17-font-style: normal;
  --www-apple-com-helvetica-neue-regular-20-18-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-regular-20-18-font-weight: 400;
  --www-apple-com-helvetica-neue-regular-20-18-font-size: 20.1796875px;
  --www-apple-com-helvetica-neue-regular-20-18-letter-spacing: 0.335999995470047px;
  --www-apple-com-helvetica-neue-regular-20-18-line-height: 26px;
  --www-apple-com-helvetica-neue-regular-20-18-font-style: normal;
  --www-apple-com-helvetica-neue-regular-19-03-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-regular-19-03-font-weight: 400;
  --www-apple-com-helvetica-neue-regular-19-03-font-size: 19.03125px;
  --www-apple-com-helvetica-neue-regular-19-03-letter-spacing: 0.335999995470047px;
  --www-apple-com-helvetica-neue-regular-19-03-line-height: 26px;
  --www-apple-com-helvetica-neue-regular-19-03-font-style: normal;
  --www-apple-com-helvetica-neue-regular-12-6-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-regular-12-6-font-weight: 400;
  --www-apple-com-helvetica-neue-regular-12-6-font-size: 12.600000381469727px;
  --www-apple-com-helvetica-neue-regular-12-6-letter-spacing: 0.335999995470047px;
  --www-apple-com-helvetica-neue-regular-12-6-line-height: 15.600000381469727px;
  --www-apple-com-helvetica-neue-regular-12-6-font-style: normal;
  --www-apple-com-helvetica-neue-bold-36-09-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-bold-36-09-font-weight: 700;
  --www-apple-com-helvetica-neue-bold-36-09-font-size: 36.09375px;
  --www-apple-com-helvetica-neue-bold-36-09-letter-spacing: 0px;
  --www-apple-com-helvetica-neue-bold-36-09-line-height: 44px;
  --www-apple-com-helvetica-neue-bold-36-09-font-style: normal;
  --www-apple-com-helvetica-neue-bold-35-94-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-bold-35-94-font-weight: 700;
  --www-apple-com-helvetica-neue-bold-35-94-font-size: 35.9375px;
  --www-apple-com-helvetica-neue-bold-35-94-letter-spacing: 0px;
  --www-apple-com-helvetica-neue-bold-35-94-line-height: 44px;
  --www-apple-com-helvetica-neue-bold-35-94-font-style: normal;
  --www-apple-com-helvetica-neue-bold-14-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-bold-14-font-weight: 700;
  --www-apple-com-helvetica-neue-bold-14-font-size: 14px;
  --www-apple-com-helvetica-neue-bold-14-letter-spacing: -0.2240000069141388px;
  --www-apple-com-helvetica-neue-bold-14-line-height: 20px;
  --www-apple-com-helvetica-neue-bold-14-font-style: normal;
  --www-apple-com-helvetica-neue-bold-16-25-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-bold-16-25-font-weight: 700;
  --www-apple-com-helvetica-neue-bold-16-25-font-size: 16.25px;
  --www-apple-com-helvetica-neue-bold-16-25-letter-spacing: 0px;
  --www-apple-com-helvetica-neue-bold-16-25-line-height: 22px;
  --www-apple-com-helvetica-neue-bold-16-25-font-style: normal;
  --www-apple-com-helvetica-neue-regular-16-25-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-regular-16-25-font-weight: 400;
  --www-apple-com-helvetica-neue-regular-16-25-font-size: 16.25px;
  --www-apple-com-helvetica-neue-regular-16-25-letter-spacing: 0px;
  --www-apple-com-helvetica-neue-regular-16-25-line-height: 22px;
  --www-apple-com-helvetica-neue-regular-16-25-font-style: normal;
  --www-apple-com-helvetica-neue-bold-15-31-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-bold-15-31-font-weight: 700;
  --www-apple-com-helvetica-neue-bold-15-31-font-size: 15.3125px;
  --www-apple-com-helvetica-neue-bold-15-31-letter-spacing: 0px;
  --www-apple-com-helvetica-neue-bold-15-31-line-height: 22px;
  --www-apple-com-helvetica-neue-bold-15-31-font-style: normal;
  --www-apple-com-helvetica-neue-regular-15-31-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-regular-15-31-font-weight: 400;
  --www-apple-com-helvetica-neue-regular-15-31-font-size: 15.3125px;
  --www-apple-com-helvetica-neue-regular-15-31-letter-spacing: 0px;
  --www-apple-com-helvetica-neue-regular-15-31-line-height: 22px;
  --www-apple-com-helvetica-neue-regular-15-31-font-style: normal;
  --www-apple-com-helvetica-neue-regular-12-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-regular-12-font-weight: 400;
  --www-apple-com-helvetica-neue-regular-12-font-size: 12px;
  --www-apple-com-helvetica-neue-regular-12-letter-spacing: -0.11999999731779099px;
  --www-apple-com-helvetica-neue-regular-12-line-height: 16px;
  --www-apple-com-helvetica-neue-regular-12-font-style: normal;
  --www-apple-com-helvetica-neue-regular-12-underline-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-regular-12-underline-font-weight: 400;
  --www-apple-com-helvetica-neue-regular-12-underline-font-size: 12px;
  --www-apple-com-helvetica-neue-regular-12-underline-letter-spacing: -0.11999999731779099px;
  --www-apple-com-helvetica-neue-regular-12-underline-line-height: 16px;
  --www-apple-com-helvetica-neue-regular-12-underline-font-style: normal;
  --www-apple-com-helvetica-neue-bold-12-font-family: "Helvetica Neue", Helvetica;
  --www-apple-com-helvetica-neue-bold-12-font-weight: 700;
  --www-apple-com-helvetica-neue-bold-12-font-size: 12px;
  --www-apple-com-helvetica-neue-bold-12-letter-spacing: -0.11999999731779099px;
  --www-apple-com-helvetica-neue-bold-12-line-height: 16px;
  --www-apple-com-helvetica-neue-bold-12-font-style: normal;
}
